.root {
    /*-fx-background-color: #e5c000;*/
    -fx-background-color: linear-gradient(to right top, #ffd600 50%, #d70000 100%);
}

#circle2 {
    -fx-fill: linear-gradient(to right, #2ef642 0%, #00a6ff 100%);
    -fx-stroke-width: 0px;
}

#headingBG {
    -fx-fill: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    -fx-stroke: #fff;
    -fx-stroke-width: 5;
    -fx-background-radius: 30;
}

#calcButton {
    -fx-background-radius: 50%;
    -fx-background-color: #8800ff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-margin:0.5em;
    -fx-font-size: 3.5em;
    -fx-padding: 4px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
}
#calcButton:hover {
    -fx-background-color: #0194d9;
    -fx-cursor: hand;
}
#calcButton_Operator{
    -fx-background-radius: 30;
    -fx-background-color: #8800ff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-margin:0.5em;
    -fx-font-size: 3.5em;
    -fx-padding: 4px;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
}
#calcButton_Operator:hover {
    -fx-background-color: #0194d9;
    -fx-cursor: hand;
}
#grid{
    -fx-background-color: rgba(255,255,255, 0.35);
    -fx-background-radius: 20;
}